<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="no" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="no" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="no" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="no" prefix="og: http://ogp.me/ns#">
 <!--<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript">
   window.location = "http://ndcminnesota.com/nosupport/";
</script>
<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<!-- Mirrored from ndcminnesota.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 11 Apr 2018 18:20:57 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
	<script type="text/javascript" src="assets/js/modernizr28b5.js?v=2.0.0"></script>




	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="title" content="NDC Minnesota 2018 | Software Developers Conference">
	<meta name="description" content="7-10 May 2018 - Inspiring Developers since 2008.  A Software Developers Conference covering .NET, Agile, C++, Cloud, Database, Design, Devops, Embedded, Front-End Framework, Fun, Functional Programming, Gadgets, IoT, JavaScript, Microsoft, Mobile, People, Programming Languages, Security, Testing and so much more ...">
	<meta name="image" content="http:/ndcminnesota.com/assets/img/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="NDC Minnesota 2018 | Software Developers Conference">
	<meta property="og:description" content="7-10 May 2018 - Inspiring Developers since 2008.  A Software Developers Conference covering .NET, Agile, C++, Cloud, Database, Design, Devops, Embedded, Front-End Framework, Fun, Functional Programming, Gadgets, IoT, JavaScript, Microsoft, Mobile, People, Programming Languages, Security, Testing and so much more ...">
	<meta property="og:site_name" content="NDC Minnesota 2018 | Software Developers Conference">
	<meta property="og:image" content="http:/ndcminnesota.com/assets/img/">
	<meta property="og:url" content="https://ndcminnesota.com/">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="NDC Minnesota 2018 | Software Developers Conference">
	<meta name="twitter:description" content="7-10 May 2018 - Inspiring Developers since 2008.  A Software Developers Conference covering .NET, Agile, C++, Cloud, Database, Design, Devops, Embedded, Front-End Framework, Fun, Functional Programming, Gadgets, IoT, JavaScript, Microsoft, Mobile, People, Programming Languages, Security, Testing and so much more ...">
	<meta name="twitter:image" content="http:/ndcminnesota.com/assets/img/">
	<meta name="twitter:url" content="https://ndcminnesota.com/">

	<title>NDC Minnesota 2018 | Software Developers Conference</title>
	<link rel="home" href="index.html" />
	<link rel="icon" href="assets/img/favicon5e1f.ico?v=2" type="image/x-icon">
	<link rel="shortcut icon" href="assets/img/favicon5e1f.ico?v=2" type="image/x-icon">
	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon5e1f.png?v=2">
	<link rel="stylesheet" href="assets/css/main9c7f.css?v=2.0.5">
</head>
<body class="frontpage css-minnesota nobackgroundcliptext">
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
				new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KSK97S');</script>
	<!-- End Google Tag Manager -->
	<!-- Facebook Pixel Code -->
	<!--
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '980953588669192');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=980953588669192&ev=PageView&noscript=1"
	/></noscript>-->
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->
	<header class=" main-wrapper overlay">
		<div class="main-container">
			<div class="logo">
				<a href="index.html">
					<p><span>NDC</span> { Minnesota }</p>
				</a>
			</div>
			<nav>
				<ul>
					<li class="details">
						<p>7-10 May 2018</p>
						<p>St. Paul RiverCentre</p>
					</li>
					<li class="tickets">
						<a class="boxed boxed-dark" href="page/tickets.html">Get Your Tickets</a>
					</li>
					<li class="menu">
						<button class="button-menu"><span>Menu</span></button>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="menu-background">
		<div class="background"></div>
		<div class="main-container">
			<section class="navigation">
				<ul>
					<li><a href="page/tickets.html">Tickets</a></li>
					<li><a href="speakers/index.html">Speakers</a></li>
					<li><a href="agenda/index.html">Agenda</a></li>
					<li><a href="workshops/index.html">Workshops</a></li>
					<li><a href="partners.html">Partners</a></li>
					<li><a href="page/partnership/index.html">Become a Partner</a></li>
					<li><a href="information/index.html">Information</a></li>
					<li class="last"><a href="http://blog.ndcconferences.com/">Blog</a></li>
				</ul>
			</section>
		</div>
	</div>
	<div style="color: #96c642">
		<center><h1>Page loaded at @DateTime.UtcNow UTC</h1></center>
	</div>
	<div class="main-wrapper top-wrapper">
		<div class="NDCPatternContainer">
			<div class="pattern-bg">
				<div class="black-box"></div>
			</div>
		</div>
		<div class="main-container">
			<section class="top">
				<div class="preamble" style="color: #96c642">
					<h1><span>NDC Minnesota</span></h1>
					<p>
						<strong>7-10 May 2018</strong><br>Inspiring Software Developers since 2008
					</p>
				</div>
				<a class="boxed boxed-dark" href="page/tickets.html">Get Your Tickets</a>
			</section>
		</div>
	</div>
	<div class="main-wrapper metrics-wrapper">
		<div class="main-container">
			<section class="metrics">
				<ul>
					<li>
						<a href="speakers/index.html">
							<div class="over"><p>See our speakers</p></div>
							<div class="up"><p><span>60</span>Speakers</p></div>
						</a>
					</li>
					<li>
						<a href="agenda/index.html">
							<div class="over"><p>See our agenda</p></div>
							<div class="up"><p><span>37</span>Technologies</p></div>
						</a>
					</li>
					<li>
						<a href="workshops/index.html">
							<div class="over"><p>See our workshops</p></div>
							<div class="up"><p><span>10</span>Workshops</p></div>
						</a>
					</li>
					<li>
						<a href="agenda/index.html">
							<div class="over"><p>See our agenda</p></div>
							<div class="up"><p><span>62</span>Talks</p></div>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<div class="main-wrapper content-wrapper">
		<div class="main-container">
			<section class="content">
				<div class="msnry-container grid-container grid-mixed">
					<div class="grid-sizer"></div>
					<div class="grid-item msnry-item grid-large">
						<div class="vimeo-wrapper" data-width="640" data-height="360">
							<iframe src="https://player.vimeo.com/video/258939698?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<button class="play-button">Play</button>
						</div>
					</div>
					<div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-speaker boxed-linear" href="speaker/udi-dahan/index.html">
							<div class="image" style="background-image: url('images/speaker/UdiDahan3.jpg');">
								<div class="boxed-linear-background"></div>
							</div>
							<div class="info">








								<p>1 talk + 1 workshop</p>
								<h3 class="truncate">Own the future, NSB-style</h3>
								<h3 class="truncate">SOA Done Right (with examples in ASP.NET and NServiceBus)</h3>

							</div>
							<div class="title">
								<h2 class="keep-colored" style="color: #6cc16c">Udi Dahan</h2>
								<p>Creator of NServiceBus - Founder, Particular Software.</p>
								<p class="mobile">1 talk + 1 workshop</p>

							</div>
						</a>
					</div>
					<div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-speaker boxed-linear" href="speaker/mark-seemann/index.html">
							<div class="image" style="background-image: url('images/speaker/MarkSeemann_2.jpg');">
								<div class="boxed-linear-background"></div>
							</div>
							<div class="info">








								<p>1 talk + 1 workshop</p>
								<h3 class="truncate">Dependency Injection revisited</h3>
								<h3 class="truncate">From Design Patterns to universal abstractions</h3>

							</div>
							<div class="title">
								<h2 class="keep-colored" style="color: #14b6c4">Mark Seemann</h2>
								<p>Functional Prog., Object- Oriented Dev. &amp; Architecture</p>
								<p class="mobile">1 talk + 1 workshop</p>

							</div>
						</a>
					</div>
					<div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-link boxed-linear dark" href="page/tickets/index.html" style="background-image: url('images/link/Hvitbakgrunn.png');">
							<div class="boxed-linear-background"></div>
							<div class="boxed-linear-content">
								<h2>Tickets</h2>
							</div>
							<p class="speaker"></p>
						</a>
					</div>                                                                                                                                                        <div class="grid-item msnry-item grid-large">
						<a class="boxed boxed-link boxed-linear dark" href="agenda/index.html" style="background-image: url('images/link/Hvitbakgrunn.png');">
							<div class="boxed-linear-background"></div>
							<div class="boxed-linear-content">
								<h2>Agenda</h2>
							</div>
							<p class="speaker">See all talks</p>
						</a>
					</div>                                                                                                                                                            <div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-speaker boxed-linear" href="speaker/steve-sanderson/index.html">
							<div class="image" style="background-image: url('images/speaker/stevesanderson_1_1.png');">
								<div class="boxed-linear-background"></div>
							</div>
							<div class="info">



								<p>Wednesday</p>
								<h3>Blazor, a new framework for browser-based .NET apps</h3>

							</div>
							<div class="title">
								<h2 class="keep-colored" style="color: #3fbb98">Steve Sanderson</h2>
								<p>Microsoft Developer on the ASP.NET Team</p>
								<p class="mobile">1 talk</p>

							</div>
						</a>
					</div>
					<div class="grid-item msnry-item grid-large">
						<a class="boxed boxed-link boxed-linear light" href="workshops/index.html" style="background-image: url('images/link/workshops_1.png');">
							<div class="boxed-linear-background"></div>
							<div class="boxed-linear-content">
								<h2>Workshops</h2>
							</div>
							<p class="speaker">More to be announced</p>
						</a>
					</div>                                                                                                                                                            <div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-speaker boxed-linear" href="speaker/scott-allen/index.html">
							<div class="image" style="background-image: url('images/speaker/Scott-Allen-IDA.png');">
								<div class="boxed-linear-background"></div>
							</div>
							<div class="info">








								<p>1 talk + 1 workshop</p>
								<h3 class="truncate">An Opinionated Approach to ASP.NET Core</h3>
								<h3 class="truncate">Deep Dive into ASP.NET Core</h3>

							</div>
							<div class="title">
								<h2 class="keep-colored" style="color: #3fbb98">Scott Allen</h2>
								<p>Founder of OdeToCode LLC &amp; Software Consultant</p>
								<p class="mobile">1 talk + 1 workshop</p>

							</div>
						</a>
					</div>
					<div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-speaker boxed-linear" href="speaker/brock-allen/index.html">
							<div class="image" style="background-image: url('images/speaker/Brock-Allen-BW.jpg');">
								<div class="boxed-linear-background"></div>
							</div>
							<div class="info">








								<p>1 talk + 1 workshop</p>
								<h3 class="truncate">Implementing authorization in web applications and APIs</h3>
								<h3 class="truncate">Identity &amp; Access Control for modern Applications and APIs using ASP.NET Core 2</h3>

							</div>
							<div class="title">
								<h2 class="keep-colored" style="color: #6cc16c">Brock Allen</h2>
								<p>Application Security Architect</p>
								<p class="mobile">1 talk + 1 workshop</p>

							</div>
						</a>
					</div>
					<div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-link boxed-linear light" href="page/partnership/index.html" style="background-image: url('images/link/Partnership.png');">
							<div class="boxed-linear-background"></div>
							<div class="boxed-linear-content">
								<h2>Become a Partner</h2>
							</div>
							<p class="speaker">Exhibition and sponsorship opportunities </p>
						</a>
					</div>                                                                                                                                                            <div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-speaker boxed-linear" href="speaker/michele-bustamante/index.html">
							<div class="image" style="background-image: url('images/speaker/Michele-Bustamante-324_1.jpg');">
								<div class="boxed-linear-background"></div>
							</div>
							<div class="info">








								<p>2 talks + 1 workshop</p>
								<h3 class="truncate">Surviving Microservices</h3>
								<h3 class="truncate">Docker Containers on Azure - let me count the ways</h3>
								<h3 class="truncate">Developing and Deploying ASP.NET Core Docker Applications - Hands On</h3>

							</div>
							<div class="title">
								<h2 class="keep-colored" style="color: #3fbb98">​Michele Bustamante </h2>
								<p>Cloud / Security Architect</p>
								<p class="mobile">2 talks + 1 workshop</p>

							</div>
						</a>
					</div>
					<div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-speaker boxed-linear" href="speaker/dylan-beattie/index.html">
							<div class="image" style="background-image: url('images/speaker/Dylan-Beattie-BW_1.png');">
								<div class="boxed-linear-background"></div>
							</div>
							<div class="info">



								<p>Thursday</p>
								<h3>The Web That Never Was</h3>

							</div>
							<div class="title">
								<h2 class="keep-colored" style="color: #14b6c4">Dylan Beattie</h2>
								<p>Systems Architect</p>
								<p class="mobile">1 talk</p>

							</div>
						</a>
					</div>
					<div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-speaker boxed-linear" href="speaker/mark-rendle-1/index.html">
							<div class="image" style="background-image: url('images/speaker/mark-rendle-1_1.jpg');">
								<div class="boxed-linear-background"></div>
							</div>
							<div class="info">



								<p>Thursday</p>
								<h3>Cloud Native .NET</h3>

							</div>
							<div class="title">
								<h2 class="keep-colored" style="color: #c1cb17">Mark Rendle</h2>
								<p>Cloud Native and Founder of RendleLabs</p>
								<p class="mobile">1 talk</p>

							</div>
						</a>
					</div>
					<div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-link boxed-linear light" href="page/the-agenda-committee/index.html" style="background-image: url('images/link/black.png');">
							<div class="boxed-linear-background"></div>
							<div class="boxed-linear-content">
								<h2>The Agenda Committee</h2>
							</div>
							<p class="speaker">Who&#039;s behind the NDC Minnesota Agenda?</p>
						</a>
					</div>                                                                                                                                                        <div class="grid-item msnry-item grid-default">
						<a class="boxed boxed-link boxed-linear light" href="https://www.youtube.com/c/ndcconferences/" style="background-image: url('images/link/promo_video.png');">
							<div class="boxed-linear-background"></div>
							<div class="boxed-linear-content">
								<h2> Relive the action from previous NDC Conferences</h2>
							</div>
							<p class="speaker">Watch talks from previous NDC Conferences on our YouTube channel</p>
						</a>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="main-wrapper navigation-wrapper">
		<div class="main-container">
			<section class="navigation">
				<ul>
					<li><a href="page/tickets.html">Tickets</a></li>
					<li><a href="speakers/index.html">Speakers</a></li>
					<li><a href="agenda/index.html">Agenda</a></li>
					<li><a href="workshops/index.html">Workshops</a></li>
					<li><a href="partners.html">Partners</a></li>
					<li><a href="page/partnership/index.html">Become a Partner</a></li>
					<li><a href="information/index.html">Information</a></li>
					<li><a href="http://blog.ndcconferences.com/">Blog</a></li>
				</ul>
			</section>
		</div>
	</div>
	<footer>
		<div class="main-wrapper other-sites-wrapper">
			<div class="main-container">
				<div class="ndc-conferences">
					<div class="block-container london">
						<a class="block london" href="https://ndc-london.com/">
							<span>NDC</span> { <span class="city">London</span> }
							<p>28 Jan - 1 Feb 2019</p>
						</a>
					</div>
					<div class="block-container oslo">
						<a class="block oslo" href="https://ndcoslo.com/">
							<span>NDC</span> { <span class="city">Oslo</span> }
							<p>11-15 June 2018</p>
						</a>
					</div>
					<div class="block-container sydney">
						<a class="block sydney" href="https://ndcsydney.com/">
							<span>NDC</span> { <span class="city">Sydney</span> }
							<p>17-21 September 2018</p>
						</a>
					</div>
				</div>
				<div class="other-conferences">
					<ul>
						<li>
							<a class="conference" href="https://cph.ndcmini.com/">
								<p class="title">Mini NDC <span>{ Copenhagen }</span></p>
								<p class="description">14-16 March 2018</p>
							</a>
						</li>
						<li>
							<a class="conference" href="https://ndcsecurity.com.au/">
								<p class="title">NDC <span>{ Security Australia }</span></p>
								<p class="description">14-16 May 2018</p>
							</a>
						</li>
						<li>
							<a class="conference" href="https://ndctechtown.com/">
								<p class="title">NDC <span>{ TechTown }</span></p>
								<p class="description">27-30 August 2018</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-wrapper follow-wrapper">
			<div class="main-container">
				<div class="newsletter">
					<div class="wrapper">
						<h3>Newsletter</h3>
						<div class="mailchimp-wrapper">
							<div id="mc_embed_signup">
								<form action="http://ndcminnesota.us10.list-manage.com/subscribe/post?u=ea3ee69b302ffce33ddee4de9&amp;id=3a3024e1ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<div id="mc_embed_signup_scroll">
										<div class="mc-field-group">
											<label for="mce-EMAIL">Email Address </label>
											<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail">
										</div>
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
										</div>
										<div style="position: absolute; left: -5000px;">
											<input type="text" name="b_ea3ee69b302ffce33ddee4de9_4d510d48ef" tabindex="-1" value="">
										</div>
										<div class="clear">
											<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="boxed boxed-grey-default button">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="social">
					<div class="wrapper">
						<h3>#ndcminnesota</h3>
						<ul class="follow">
							<li>
								<a href="https://www.facebook.com/ndcconferences">
									<img src="assets/img/icon-facebook.png">
								</a>
							</li>
							<li>
								<a href="https://twitter.com/ndc_conferences">
									<img src="assets/img/icon-twitter.png">
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/ndc-conferences">
									<img src="assets/img/icon-linkedin.png">
								</a>
							</li>
							<li>
								<a href="https://vimeo.com/ndcconferences">
									<img src="assets/img/icon-vimeo.png">
								</a>
							</li>
							<li>
								<a href="https://www.youtube.com/c/ndcconferences">
									<img src="assets/img/icon-youtube.png">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-wrapper partners-wrapper">
			<div class="main-container">
				<div class="partners">
					<h3>Global Partners</h3>
					<ul>
						<li>
							<a class="button-partner" href="http://programutvikling.no/" target="_blank">
								<img src="images/partner/Programutvikling_logo.png" alt="ProgramUtvikling">
							</a>
						</li>
						<li>
							<a class="button-partner" href="https://www.twilio.com/" target="_blank">
								<img src="images/partner/twilio.png" alt="Twilio">
							</a>
						</li>
					</ul>
				</div>

				<div class="partners">
					<h3>Partners</h3>
					<ul>
						<li>
							<a class="button-partner" href="http://www.generalmills.com/" target="_blank">
								<img src="images/partner/general_mills_4.png" alt="General Mills">
							</a>
						</li>
						<li>
							<a class="button-partner" href="http://ilmservice.com/" target="_blank">
								<img src="images/partner/ilm3.png" alt="ILM Professional Services">
							</a>
						</li>
						<li>
							<a class="button-partner" href="http://www.infinitecampus.com/" target="_blank">
								<img src="images/partner/infinite_Camous2.png" alt="Infinite Campus">
							</a>
						</li>
						<li>
							<a class="button-partner" href="http://magenic.com/" target="_blank">
								<img src="images/partner/magenic_1.png" alt="Magenic">
							</a>
						</li>
						<li>
							<a class="button-partner" href="https://www.microsoft.com/" target="_blank">
								<img src="images/partner/microsoft-160x44.png.png" alt="Microsoft">
							</a>
						</li>
						<li>
							<a class="button-partner" href="https://www.ravendb.net/" target="_blank">
								<img src="images/partner/ravendb1_1.png" alt="RavenDB">
							</a>
						</li>
						<li>
							<a class="button-partner" href="http://trackjs.com/" target="_blank">
								<img src="images/partner/track_js_new_1.png" alt="TrackJS">
							</a>
						</li>
					</ul>
				</div>



				<div class="contact">
					<p>Phone: (+47) 67 10 65 65 </p>
					<p>E-mail: </p>
					<p>Address: NDC Conferences USA, INC c/o Lethert, Skwira, Schultz &amp; Co LLP, 170 Seventh Place East  St. Paul, MN 55101 USA</p>
				</div>
				<p class="disclaimer">Copyright 2015. We use cookies on our website. If you do not want cookies to be used, you can set your Internet browser to deny them.</p>
			</div>
		</div>
		<div class="void-credit">
			<p>Made by</p>
			<a href="http://void.as/">
				<img src="assets/img/void-logo-white.png">
			</a>
		</div>
	</footer>
	<script type="text/javascript" src="assets/js/libs.js"></script>
	<script type="text/javascript" src="assets/js/vendor.js"></script>
	<script type="text/javascript" src="assets/js/main28b5.js?v=2.0.0"></script>
	<script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
</body>

<!-- Mirrored from ndcminnesota.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 11 Apr 2018 18:21:07 GMT -->
</html>
